@font-face {
  font-family: "Inter";
  src: url("../../assets/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/Inter-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../../assets/Inter-Bold.ttf");
  font-weight: 700;
}

.shadow-wrap {
  filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.15));
}